@import 'tailwindcss';

/*--------------------------------------------------------- 
 Variables
----------------------------------------------------------*/
@theme {
  /* ---Colors--- */
  --color-custom-primary-color: #009fe3;
  --color-custom-secondary-color: #f7f7f7;

  /* ---Text-Colors--- */
  --color-nav-link: #030303;
  --color-custom-text-title: #ffffff;
  --color-custom-text-subtitle: #ffffff;
  --color-custom-text-description: #ffffff;

  /* ---Borders--- */
  --color-custom-border: #F2F4F6;

  /* ---Fonts--- */
  --font-sans: 'Exo 2', sans-serif;
  --font-heading: 'Russo One', sans-serif;
  --font-link: 'Abel', sans-serif;
}

body {
  font-family: var(--font-sans);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
}